* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    font-family: 'Poppins';
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}



.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

.col-12 {
    width: 100%;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: 33.33%;
}

.col-3 {
    width: 25%;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

img {
    width: 100%;
    display: block;
}

section {
    margin: 50px;
}

/* header section start */
header {
    background-color: #fff;
    width: 100%;
    padding: .5rem 0;
    box-shadow: 0 12px 6px #0000000f;
    position: sticky;
    top: 0;
    z-index: 99;
}

.topbar {
    position: relative;
}

header .topbar .logo {
    font-size: 50px;
    color: #000000;
    font-weight: 800;
}


header nav ul li {
    padding: 0 7px;
}

header nav ul li a {
    padding: 10px 8px;
    font-size: 12px;
    font-weight: 600;
}

header nav ul li a:hover {
    color: #2f2ff4;
}

header nav ul li a i {
    margin: 0 5px;
    color: #484848;
}

.dropdown-toggler {
    position: relative;
}

.dropdown-menu {
    display: none;
    background-color: #fff;
    width: 250px;
    border-radius: 5px;
    position: absolute;
    top: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dropdown-toggler:hover .dropdown-menu,
.dropdown-toggler:hover .dropdown-menu-language {
    display: block;
}

.mega-menu {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff;
    height: 470px;
    border-radius: 5px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.mega-menu li:first-child a {
    font-size: 18px;
    font-weight: 600;
}

.mega-menu .hover-style-line p {
    font-size: 68px;
    font-weight: 100;
    padding: 0 20px;
}

.mega-menu .hover-style-line p>span {
    font-size: 62px;
    font-weight: 600;
    color: #2f2ff4;
    letter-spacing: 3px;
}

.mega-menu .hover-style-line a {
    color: #484848;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.mega-menu-toggler:hover .mega-menu {
    display: flex;
}

.dropdown-menu-language {
    display: none;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    top: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

header .topbar .menu {
    order: 2;
    position: relative;
    transition: all 0.3s ease;
}

header .topbar .menu .menu-icon::after {
    content: '\f0c9';
    font-family: FontAwesome;
    position: absolute;
}

header .topbar .menu:hover .menu-icon::after {
    content: '\f00d';
    font-family: FontAwesome;
    position: absolute;
}

header .menu:hover nav ul {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    top: 100%;
    transform: translate(-50px);
    box-shadow: #959da533 0px 8px 24px;
}

/* header section end */


/* hero section start */
.hero {
    height: 600px;
    margin: 0;
    background: #f8f9fa;
    position: relative;
}

.hero .hero-content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero .hero-content h2 {
    font-size: 42px;
    margin-bottom: 20px;

}

.hero .btn .explore {
    margin: 2rem 1rem;
    padding: 12px 18px;
    font-size: .8rem;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.hero .btn .explore:hover {
    background-color: #000000c5;
}

.hero .btn .purchase {
    margin: 2rem 1rem;
    padding: 10px 18px;
    background-color: #ffffff6b;
    border: .5px solid #0000005b;
    color: #4c5667;
    border-radius: 10px;
}

.hero .btn .purchase:hover {
    background-color: #e7e5e58a;
}

/* hero section end */

/* features section start */
.features strong {
    font-size: 20px;
    font-weight: 600;
    color: #1F1F1F;
}

.features .col-4 {
    padding: 5px;
}

.features p {
    color: #777;
    margin-top: 8px;
    margin-bottom: 20px;
}

/* features section end */

/* portfolio section start */
.portfolio {
    position: relative;
}

.portfolio ul li {
    padding: 8px 10px;
    transition: all 0.3s ease;
}

.portfolio ul li {
    position: relative;
    margin: 5px;
    overflow: hidden;
}

.portfolio nav ul li a::after {
    content: '';
    height: 3px;
    width: 100%;
    background-color: #1F1F1F;
    position: absolute;
    left: 0;
    top: 120%;
    transition: all 0.3s linear;

}

.portfolio nav ul li a:hover::after {
    top: 80%;
    left: 0;

}

.portfolio ul li a .active {
    content: '';
    height: 3px;
    width: 100%;
    background-color: #1F1F1F;
    position: absolute;
    left: 0;
    top: 100%;
    transition: all 0.3s linear;

}

.portfolio .portfolio-wraper {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.portfolio .portfolio-wraper img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.portfolio .portfolio-wraper .portfolio-item {
    background-color: #28282885;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.portfolio .portfolio-wraper:hover .portfolio-item {
    opacity: 1;
}

.portfolio .portfolio-wraper:hover img {
    transform: scale(1.1);
}

.portfolio .portfolio-wraper .portfolio-item a {
    background-color: #fff;
    padding: 8px 12px;
    border-radius: 50%;
    margin-right: 25px;
    transition: all 0.3 ease-in-out;
}

.portfolio .portfolio-wraper .portfolio-item a:hover {
    background-color: #2f2ff4;
    color: #fff;
}

/* portfolio section end */

/* about section start */
.about span {
    color: #777;
    padding: 0 10px;
}

.about .col-12 {
    margin-top: 2rem;
}

.about h4 {
    font-size: 24px;
    font-weight: 500;
}

.about h2 {
    font-size: 28px;
    font-weight: 500;
}

.about h3 {
    font-weight: 500;
}

.about .list {
    margin: 20px 0;
    border-bottom: 5px solid blue;
}

.about .para {
    color: #777;
    font-size: 22px;
}

.about .card-1 {
    width: 80%;
    height: fit-content;
    margin: 10px;
    padding: 10px 25px;
    background-color: #fff;
    border: 1px solid #777;
    border-radius: 5px;
}

.about img {
    margin: 5px;
    width: 25%;
}

.about span {}

/* about section end */

/* contact section start */
.contact {
    margin-top: 35px;
}

.contact h3 {
    font-weight: 600;
}

.contact span {
    color: #484848;
    font-weight: 600;
}

.contact .address .col-12 {
    margin-top: .5rem;
}

.contact .address span {
    padding: 15px 0;
}

.contact .social ul li {
    margin: 5px;
    padding: 5px;
    border: 1px solid #777;
    border-radius: 5px;
}

.contact-info #name,
.contact-info #email {
    padding: 5px 15px;
}

.contact-info #phone-no,
.contact-info #message {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
}

.contact-info #message {
    width: 100%;
    height: 100px;
}

.contact-info .s-message {
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #777;
    border-radius: 5px;
}

.contact .social .fa-wifi:hover,
.contact .social .fa-google-plus-g:hover {
    background-color: #ffc107;
    color: #fff;
}

.contact .social .fa-facebook-f:hover,
.contact .social .fa-linkedin:hover {
    background-color: #5d82d1;
    color: #fff;
}

.contact .social .fa-twitter:hover {
    background-color: #40bff5;
    color: #fff;
}

.contact .social .fa-twitter:hover,
.contact .social .fa-vimeo:hover,
.contact .social .fa-skype:hover {
    background-color: #40bff5;
    color: #fff;
}

.contact .social .fa-instagram:hover {
    background-color: #ef4e41;
    color: #fff;
}

.contact .social .fa-pinterest:hover,
.contact .social .fa-youtube:hover {
    background-color: #dc3545;
    color: #fff;

}

.contact .social .fa-dribbble:hover,
.contact .social .fa-flickr:hover {
    background-color: #e83e8c;
    color: #fff;
}

.contact .contact-info span {
    color: #777;
    font-weight: 400;
}

.contact .social .fa-square-behance:hover {
    background-color: #007bff;
    color: #fff;
}

/* contact section end */

/* footer section start */
.footer {
    height: fit-content;
    background-color: #f8f9fa;
    margin-top: 35px;
}

.footer h3 {
    font-weight: 500;
}

.footer .purchase {
    color: #fff;
    padding: 5px 10px;
    background-color: #0000ff;
    border-radius: 5px;
}

.footer .col-12 ul {
    margin: 0 25px;
    padding: 0 25px;
}

.footer .col-12 ul li {
    line-height: 40px;
}

.footer .col-12 ul li:hover {
    color: #0000ff;
}

/* footer section end */

/* footer-bottom section start */
.footer-bottom {
    width: 100%;
    background-color: #EFF1F4;
}

.footer-bottom p {
    padding: 10px 0;
    color: #484848;
    text-align: center;
}

/* footer-bottom section end */